<html>
<head> 
<title>Untitled Document</title> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 
</head> 
 
<body bgcolor="#FFFFFF" text="#555555" background="images/hg_grau.gif" link="#555555" vlink="#555555" alink="#555555" leftmargin="0" topmargin="3" marginwidth="0" marginheight="0">
<table border="0" cellspacing="0" cellpadding="0" width="234">
  <tr> 
    <td width="10">&nbsp;</td>
    <td align="left" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr valign="top" align="left"> 
          <td width="56"> 
            <div align="center"> {new_file} </div>
          </td>
          <td width="56"> 
            <div align="center"> {new_folder} </div>
          </td>
          <td width="56"> 
            <div align="center"> {change} </div>
          </td>
          <td width="56"> 
            <div align="center"> {delete} </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body> 
</html> 
