<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script language="JavaScript">
<!--
<!--

function MM_reloadPage(init) {  //reloads the window if Nav4 resized

  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {

    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}

  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();

}

MM_reloadPage(true);

// -->



function MM_findObj(n, d) { //v4.0

  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {

    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}

  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];

  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);

  if(!x && document.getElementById) x=document.getElementById(n); return x;

}



function MM_showHideLayers() { //v3.0

  var i,p,v,obj,args=MM_showHideLayers.arguments;

  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];

    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v='hide')?'hidden':v; }

    obj.visibility=v; }

}

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>

</head>



<body bgcolor="#EBEBEB" text="#555555" link="#555555" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="images/hg_grau.gif">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="715"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td align="left" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="81%" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>Verwalten 
                  und Bearbeiten der Layoutvorlagen</b></font></td>
                <td width="19%">
                  <div align="right"><a href="javascript:;"><img src="images/navigation/but_hilfe.gif" width="30" height="20" onClick="MM_openBrWindow('../kontexthilfe/verwalten_elementlisten.html','kontext','scrollbars=yes,resizable=yes,width=200,height=200')" border="0"></a></div>
                </td>
              </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="1"></font> 
            <font face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
            <br>
            </font> 
            <table  border="0" cellspacing="4" cellpadding="0" width="477" >
              <tr align="left" valign="top"> 
                <td width="167" ><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Layoutvorlage</font></b></td>
                <td width="298" ><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Seitenbereich 
                  definiert?</font></b></td>
              </tr>
              <!-- BEGIN list -->
              <tr align="left" valign="top"> 
                <td width="167"  ><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{tedit_lnk}">{tname}</a></font></td>
                <td width="298" ><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{elexists}</font></td>
              </tr>
              <!-- END list -->
            </table>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td height="10" align="left" valign="top"><img src="images/dummy.gif" width="10" height="10"></td>
  </tr>
</table>
</body>

</html>

