<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body link="#555555" text="#555555" background="images/hg_grau.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" width="715" align="left" valign="top"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td align="left" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="88%"><font color="#555555" face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>ZUGRIFF 
                  VERWEIGERT </b></font><font face="Verdana, Arial, Helvetica, sans-serif" size="1"></font></td>
                <td width="12%"> 
                  <div align="right"></div>
                </td>
              </tr>
            </table>
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><font color="#555555">Sie 
              haben keine Berechtigung f&uuml;r diese Seite !</font></b></font></p>
</td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="10">&nbsp;</td>
  </tr>
</table>
</body>
</html>
