<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>



<body link="#555555" text="#555555" background="images/hg_grau.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="715"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td align="left" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="88%" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
                  Sitemanageme</b></font><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">nt</font></b></td>
                <td width="12%">
                  <div align="right"></div>
                </td>
              </tr>
            </table>
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_neuesite}"><br>
                    Neue Site anlegen</a></font></p>
                </td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <br>
            <img src="images/striche_ganz2.gif" width="100%" height="10"> <br>
            <p> 
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Kundenname</font></td>
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Site-ID</font></td>
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Admin-Account</font></td>
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Admin-Passwort</font></td>
              </tr>
              <!-- BEGIN liste -->
              <tr> 
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{kundenname}</font></td>
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{sid}</font></td>
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{admin}</font></td>
                <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{adminpass}</font></td>
                <td align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_edit}"><img src="images/navigation/but_editieren_tabelle.gif" width="20" height="20" border="0"></a></font></td>
                <td align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_delete}"><img src="images/navigation/but_loeschen_tabelle.gif" width="20" height="20" border="0"></a></font></td>
              </tr>
              <!-- END liste -->
            </table>
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td height="10" align="left" valign="top"><img src="images/dummy.gif" width="10" height="10"></td>
  </tr>
</table>
</body>

</html>

