<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>



<body link="#555555" text="#555555" background="images/hg_grau_rechts.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="475" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="465"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td align="left" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="71%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                  CMS-Admin</font></td>
                <td width="29%">
                  <div align="right"></div>
                </td>
              </tr>
            </table>
            <h1><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{text}</font></h1>
            <table width="43%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="49%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{dest}">Ok</a></font></td>
                <td width="51%">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td height="10" align="left" valign="top"><img src="images/dummy.gif" width="10" height="10"></td>
  </tr>
</table>
</body>

</html>

