  </font></td></tr>
	<tr>
		<td>
	 		<br><p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Daten&uuml;bertragung
  			abgeschossen!</font></p>
			<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#555555"><b><a href="{lnk_preview}" target="_blank">Vorschauansicht
  			der Website</a></b></font></p>
			<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#555555"></font></p>
		</td>
		<td height="10">
			<img src="images/dummy.gif" width="10" height="10">
		</td>
	</tr>
</body>
</html>