<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>



<body link="#555555" text="#555555" background="images/hg_grau.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="715"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td align="left" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td align="left" valign="top" width="77%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>Benutzerverwaltung</b></font></td>
                <td width="23%"> 
                  <div align="right"></div>
                </td>
              </tr>
            </table>
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_add}">Neuen 
              Benutzer anlegen </a></font></p>
            <table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr> 
                <td align="left" valign="top" width="24%"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Benutzername</font></b></td>
                <td align="left" valign="top" width="18%"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Editieren</font></b></td>
                <td align="left" valign="top" width="57%"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">L&ouml;schen</font></b></td>
                <td width="1%">&nbsp;</td>
              </tr>
              <!-- BEGIN liste -->
              <tr> 
                <td width="24%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{username}</font></td>
                <td width="18%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_edit}"><img src="images/navigation/but_editieren_tabelle.gif" width="20" height="20" border="0"></a></font></td>
                <td width="57%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_delete}"><img src="images/navigation/but_loeschen.gif" width="21" height="20" border="0"></a></font></td>
                <td width="1%">&nbsp;</td>
              </tr>
              <!-- END liste -->
            </table>
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td align="left" valign="top" height="10"><img src="images/dummy.gif" width="10" height="10"></td>
  </tr>
</table>
</body>

</html>

