<form name="form1" method="post" action="{post}">
<input type="hidden" name="language" value="{language}">
<input type="hidden" name="id" value="{id}">
<input type="hidden" name="action" value="el">
<input type="hidden" name="action2" value="insert">
<input type="hidden" name="tid" value="{tid}">
<input type="hidden" name="elid" value="{elid}">
<input type="hidden" name="pid" value="{pid}">
{sessid}
<table border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="350">  
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="left" valign="top"> 
              <input type="text" name="data" maxlength="50" size="43" value="{data}">
            </td>
          </tr>
        </table>
      
    </td>
    <td valign="bottom">
<input type="image" border="0" name="submit" src="images/navigation/but_uebernehmen.gif" width="87" height="22"></td>
  </tr>
</table>
</form>

