<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>



<body link="#555555" text="#555555" background="images/hg_grau.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" width="715" align="left" valign="top"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td width="715" align="left" valign="top"> 
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>L&ouml;schen</b></font></p>
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{text}</font> 
            </p>
            <table width="43%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="49%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_yes}">Ja</a></font></td>
                <td width="51%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_no}">Nein</a></font></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td width="10"><img src="images/dummy.gif" width="10" height="10"></td>
    <td height="10">&nbsp;</td>
  </tr>
</table>
</body>

</html>

