<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body link="#555555" text="#555555" background="images/hg_grau_rechts.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script language="JavaScript" type="text/javascript">
<!--
	// Lädt das Frame nach, wenn schon submittet wurde (Gilt NUR FÜR die DELETE AKTIONEN IN DER SITEVIEW !!!!)
    var query=this.location.search.substring(1);
    if (query.length > 0){
        var params=query.split("&");
        for (var i=0 ; i<params.length ; i++){
            var pos = params[i].indexOf("=");
            var name = params[i].substring(0, pos);
            var value = params[i].substring(pos + 1);
            if (value == "Submit" ) {
				// Found
				//document.writeln("sdsdds");
				parent.tree.location.reload();
            }
        }
    }
// -->
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="left" valign="top"> 
    <td width="10"><img src="images/dummy.gif" width="10" height="10"></td>
    <td bgcolor="#FFFFFF" height="100%"> 
      <div align="center"> 
        <table width="100%" border="0" cellspacing="5" cellpadding="0" height="100%">
          <tr>
            <td align="left" valign="top"> 
              <p align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>Editieren</b><br>
                <br>
                Zum Editieren einer bestehenden Seite klicken Sie auf den Namen 
                der Seite im Verzeichnisbaum. </font></p>
              </td>
          </tr>
        </table>
        
      </div>
      </td>
  </tr>
  <tr>
    <td width="11" height="33">&nbsp;</td>
    <td height="33" width="882"><img src="images/dummy.gif" width="10" height="50"></td>
  </tr>
</table>
</body>
</html>
