<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
</head>



<body link="#555555" text="#555555" background="images/hg_grau.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="715"> 
      <table width="100%" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <td width="715" align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="85%" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>Layoutvorlage 
                  bearbeiten</b></font></td>
                <td width="15%">
                  <div align="right"><img src="images/navigation/but_hilfe.gif" width="30" height="20" onClick="MM_openBrWindow('../kontexthilfe/verwalten_elementlisten_editieren.html','kontext','scrollbars=yes,resizable=yes,width=200,height=200')"></div>
                </td>
              </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="1"></font> 
            <form name="form1" method="post" action="{post}">
              <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
              <input type="hidden" name="tid" value="{tid}">
              <input type="hidden" name="action" value="{action}">
              {sessid} </font> 
              <table width="90%" border="0" cellspacing="4" cellpadding="0">
                <tr> 
                  <td width="17%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Dateiname</font></td>
                  <td width="83%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{filename}</font></td>
                </tr>
                <tr align="left" valign="middle"> 
                  <td width="17%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Name 
                    der Vorlage</font></td>
                  <td width="83%"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                    <input type="text" name="tname" size="35" maxlength="50" value="{tname}">
                    <input type="image" border="0" name="submit" src="images/navigation/but_uebernehmen.gif" width="87" height="22">
                    </font></td>
                </tr>
              </table>
            </form>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
            <br>
            </font> 
            <table width="80%" border="0" cellspacing="4" cellpadding="0">
              <tr> 
                <td width="37%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
                  Seitenbereich</b></font></td>
                <td width="18%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>Bearbeiten</b></font></td>
                <td width="45%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b>L&ouml;schen</b></font></td>
              </tr>
              <!-- BEGIN list -->
              <tr> 
                <td width="37%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{elplaceholder}</font></td>
                <td width="18%" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_eledit}"><img src="images/navigation/but_editieren_tabelle.gif" width="20" height="20" border="0"></a></font></td>
                <td width="45%" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_eldelete}"><img src="images/navigation/but_loeschen_tabelle.gif" width="20" height="20" border="0"></a></font></td>
              </tr>
              <!-- END list -->
            </table>
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_elnew}">Neuer 
              Seitenbereich </a><br>
              <br>
              </font></p>
            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="{lnk_back}"><img src="images/navigation/but_zurueck.gif" width="55" height="20" border="0"></a></font></p>
    </td>
        </tr>
      </table>
      
    </td>
  </tr>
  <tr>
    <td width="10">&nbsp;</td>
    <td height="10" align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><img src="images/dummy.gif" width="10" height="10"></font></td>
  </tr>
</table>
</body>

</html>

