<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body link="#555555" text="#555555" background="images/hg_grau_rechts.gif" vlink="#555555" alink="#555555" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script language="JavaScript" type="text/javascript">
<!--
	// Lädt das Frame nach, wenn schon submittet wurde
    var query=this.location.search.substring(1);
    if (query.length > 0){
        var params=query.split("&");
        for (var i=0 ; i<params.length ; i++){
            var pos = params[i].indexOf("=");
            var name = params[i].substring(0, pos);
            var value = params[i].substring(pos + 1);
            if (name == "Submit" ) {
				// Found
				//document.writeln("sdsdds");
				parent.tree.location.reload();
            }
        }
    }
// -->
</script>
<table border="0" cellspacing="0" cellpadding="0" width="475">
  <tr>
    <td width="10">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr align="left" valign="top">
          <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">{tree}</font></td>
          <td width="465">
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td align="left" valign="top">
                    <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                    </font>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="top">
                          <font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b> 
                            Seiteneigenschaften einstellen</b></font>                         
                        </td>
                        <td width="7%">
                          <div align="right"></div>
                        </td>
                      </tr>
                    </table>

							<form name="form1" method="get" action="{post}">
						  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr align="left" valign="middle">
                        <td width="100"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Seiten-URL:</font></td>
                        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                          <!-- BEGIN idnull -->
                          <input type="text" name="purl" size="35" value="{purl}">
                          <!-- END idnull -->
                          </font> </td>
                      </tr>
                    </table>
                    <br>
                    <img src="images/striche_rechts2.gif" width="100%" height="10"><br>
                    <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                    <input type="hidden" name="action" value="{action}">
						  <input type="hidden" name="action2" value="{action2}">
                    <input type="hidden" name="id" value="{pid}">
                    <input type="hidden" name="parentid" value="{parentid}">
						  <input type="hidden" name="Submit" value="Submit">
                    {sessid} <br>
                    </font>
						  <table border="0" cellspacing="0" cellpadding="0" width="411">
                      <tr align="left" valign="middle">
                        <td width="100" height="36"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                          Seitenname:</font></td>
                        <td height="36"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                          <input type="text" name="pname" size="35" maxlength="50" value="{pname}">
                          </font></td>
                      </tr>
                      <!-- BEGIN idnull2 -->
                      <tr align="left" valign="middle">
                        
                        <td width="100"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                          Teaservorlage:</font></td>
                        <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                          <!-- BEGIN selecttemplate -->
                          <select name="tid">
                            <option value="0"></option>
                            <!-- BEGIN list -->
                            <option value="{id}" {selected}>{tname}</option>
                            <!-- END list -->
                          </select>
                          <!-- END selecttemplate -->
                          <font color="#E7651A">{tsname}</font> </font></td>
                      </tr>
                      <!-- END idnull2 -->
                      <tr align="left" valign="top">
                        <td width="100"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                          Teaserelemente:</font></td>
                        
                        <td> 
                          <table width="100%" border="1" cellspacing="0" cellpadding="0" bordercolor="#333333">
                            <tr>
                              <td width="59%"> 
                                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Element</font></div>
                              </td>
                              <td width="20%">
                                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Verlinken</font></div>
                              </td>
							  <td width="21%"> 
                                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Sortieren</font></div>
                              </td>
                            </tr>
<!-- BEGIN teaser -->
                            <tr>
                              <td width="59%" height="19"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
                                &nbsp;{elementname}</font></td>
                              <td width="20%" height="19"> 
                                <div align="center">
                                  <input type="checkbox" name="{elementlink}" value="1" {elementlink_value}>
                                </div>
                              </td>
							   
                              <td width="21%" height="19">
                                <div align="center">
                                  <input type="checkbox" name="{elementsort}" value="1" {elementsort_value}>
                                </div>
                              </td>
                            </tr>
<!-- END teaser -->
                          </table>
								  <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
								  <input type="image" border="0" name="submit" src="images/navigation/but_uebernehmen.gif" width="87" height="22">
								  </font>
								  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">
								  <a href="{lnk_preview}" target="_blank">
								  <img src="images/navigation/but_seitenvorschau.gif" width="90" height="25" border="0">
								  </a><br>
                            </font></p>




                          </td>
                      </tr>
                    </table></form>
						    <br>
                                         </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="10"><img src="images/dummy.gif" width="10" height="10"></td>
    <td height="10">&nbsp;</td>
  </tr>
</table>
</body>

</html>